<div class="cover-show">
  <div class="container">
    <div class="row">
      <h1 class="font-weight-normal mt-5 mb-5">旅行投稿詳細</h1>
    </div>
    <div class="d-block">
      <p class="caption">ユーザー名</p>
      <%= attachment_image_tag @post, :image, format: "jpeg", size: "450x350" %><br>
      <p class="caption"><%= @post.location %></p>
      <h2>感想</h2>
      <p id="text"><%= @post.text %></p>
      <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-info mr-3" %>
      <%= link_to "削除する", post_path(@post.id), data: { turbo_method: :delete, turbo_confirm: "本当に消しますか？"}, class: "btn btn-danger" %><br>
      <%= link_to "投稿一覧ページへ", posts_path, class: "btn btn-dark mt-3" %>
    </div>
  </div>
</div>